# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/
/dist/
/.vinext/
/.wrangler/

# test output
/coverage

# local environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo

# logs and local system files
*.log
.DS_Store
*.pem
